{
  "branches": [
    "master"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/git",
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "./artifacts/pong-linux-x86_64/pong-linux-x86_64"
          },
          {
            "path": "./artifacts/pong-linux-aarch64/pong-linux-aarch64"
          },
          {
            "path": "./artifacts/pong-macos-x86_64/pong-macos-x86_64"
          },
          {
            "path": "./artifacts/pong-macos-aarch64/pong-macos-aarch64"
          }
        ]
      }
    ]
  ]
}