{
  "branches": [
    "master"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/git",
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "./artifacts/pong-x86_64-linux/pong-x86_64-linux",
            "label": "Linux x86_64 Binary"
          },
          {
            "path": "./artifacts/pong-aarch64-linux/pong-aarch64-linux",
            "label": "Linux ARM64 Binary"
          },
          {
            "path": "./artifacts/pong-x86_64-macos/pong-x86_64-macos",
            "label": "macOS x86_64 Binary"
          },
          {
            "path": "./artifacts/pong-aarch64-macos/pong-aarch64-macos",
            "label": "macOS ARM64 Binary"
          }
        ]
      }
    ]
  ]
}