name: Buil & Release

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            zig_version: "0.15.1"
            target: x86_64-linux-gnu
            artifact_name: pong-linux-x86_64
          - os: ubuntu-latest
            zig_version: "0.15.1"
            target: aarch64-linux-gnu
            artifact_name: pong-linux-aarch64
          - os: macos-latest
            zig_version: "0.15.1"
            target: aarch64-macos
            artifact_name: pong-macos-aarch64
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Zig
        uses: mlugg/setup-zig@v2
        with:
          version: ${{ matrix.zig_version }}

      - name: Cache Zig build artifacts
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/zig
            .zig-cache
          key: ${{ runner.os }}-zig-${{ matrix.zig_version }}-${{ matrix.target }}-${{ hashFiles('build.zig', 'build.zig.zon', 'src/**/*.zig') }}
          restore-keys: |
            ${{ runner.os }}-zig-${{ matrix.zig_version }}-
            ${{ runner.os }}-zig-

      - name: Build
        run: zig build -Dtarget=${{ matrix.target }} -Doptimize=ReleaseSmall

      - name: Prepare artifact
        run: |
          mkdir -p artifacts
          cp zig-out/bin/pong artifacts/${{ matrix.artifact_name }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact_name }}
          path: artifacts/${{ matrix.artifact_name }}
          if-no-files-found: error

  release:
    if: github.event_name == 'push'
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./artifacts

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm i -g semantic-release @semantic-release/changelog @semantic-release/git
          semantic-release
